@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
--fontSize: 13px ;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--Light-Grayish-Blue);
}

p {
    font-size: var(--fontSize);
    color: hsl(214, 17%, 51%)
}
