* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

p {
    font-size: 13px;
    color: hsl(212, 23%, 69%);
}
