.CardContainer {
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.Card {
    width:330px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 10px 15px rgb(0 0 0 / 10%)
}

.CardContent {
    margin:30px 30px 18px 30px;
}

.CardHeading {
    font-size: 16px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin: 0 0 10px 0;
}

.CardFooter {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 20px 40px;
}

.AuthorContainer {
    display: flex;
    gap: 16px;
}

.Avatar {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.CardName {
    font-size: 13px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.ShareBtn {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: none;
    cursor: pointer;
    background-color: var(--Light-Grayish-Blue);
    color: hsl(210, 46%, 95%);
}

// active classes

.CardFooterActive {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px 16px 30px;
    background-color: hsl(217, 19%, 35%);
}

.ShareText {
    color: hsl(212, 23%, 69%);
    letter-spacing: 5px;
    align-self: center;
    text-transform: uppercase;
}

.SocialIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.SocialIcons img {
    width: 40px;
    height: 40px;
}
@media screen and (min-width: 600px) {

.Card {
    display: flex;
    flex-direction: row;
    width: 730px;
}

.Heroimg {
    width: 287px;
}

.CardContent {
    margin:40px 40px 20px 40px;
}


}